<!-- Header -->
<header id="header">
  <a href="index.html" class="logo"><img src="../../assets/tindercat.png"/> </a>
  <nav class="right">
    <a [routerLink]="['/login']" href="" class="button alt">Connexion</a>
  </nav>
</header>

<section id="main" class="wrapper">
  <div class="inner wrap-login100 u12">
    <header class="align-center">
      <h1>Inscription</h1>
    </header>
      <form  action="#" >
        <div class="row uniform">
          <div class="myInput 6u 12u$(xsmall)">
            <input type="text" name="lastName" id="lastName" value="" placeholder="Nom">
          </div>
          <div class="myInput 6u 12u$(xsmall)">
            <input type="text" name="firstName" id="firstName" value="" placeholder="Prénom">
          </div>
          <div class="myInput 8u 12u$(xsmall)">
            <input type="email" name="email" id="email" value="" placeholder="Email">
          </div>
          <div class="myInput 4u 12u$(xsmall)">
            <input type="text" name="age" id="age" value="" placeholder="Age">
          </div>
          <div class="myInput 6u 12u$(xsmall)">
            <input type="password" name="password" id="password" value="" placeholder="Mot de passe">
          </div>
          <div class="myInput 6u 12u$(xsmall)">
            <input type="password" name="password2" id="password2" value="" placeholder="Confirmation du mot de passe">
          </div>
          <div class="myInput 8u 12u$(xsmall)">
            <input type="text" name="adress" id="adress" value="" placeholder="Adresse">
          </div>
          <div class="myInput 4u 12u$(xsmall)">
            <input type="text" name="postal" id="postal" value="" placeholder="Code postale">
          </div>
          <div class="myInput 6u 12u$(xsmall)">
            <input type="text" name="city" id="city" value="" placeholder="Ville">
          </div>
          <div class="btnCenter 5u 12u$(xsmall)">
              <input class="button special" type="submit" value="Bienvenue">
          </div>
        </div>
      </form>
    </div>
</section>
<!-- <div *ngIf="user">

   <h2>{{ user.firstName }} Details</h2>
   <div><span>id: </span>{{user.id}}</div>

       <div>
         <label>name:
           <input [(ngModel)]="user.firstName" placeholder="name"/>
         </label>
       </div>
 </div>
   -->
