<!-- Header -->
<header id="header">
  <img src="../../assets/tindercat.png"/>
  <nav class="right">
    <a (click)="logout()" href="" class="button alt">Déconnexion</a>
  </nav>
</header>

<section id="main" class="wrapper">
  <div class="inner wrap-login100 u12">
    <header class="align-center">
      <h1>Ajouter votre chat</h1>
    </header>
    <form   action="#" (ngSubmit)="onSubmit()" #signInForm="ngForm" >
      <div class="row uniform">
        <div class="myInput 6u 12u$(xsmall)">
          <input type="text" name="name" id="name" value="" [(ngModel)]="cat.name" placeholder="Nom">
        </div>
        <div class="myInput 6u 12u$(xsmall)">
          <input type="text" name="race" id="race" value="" [(ngModel)]="cat.race" placeholder="Race">
        </div>
        <div class="6u 12u$(xsmall)">
          <select name="Sex" id="category" [(ngModel)]="cat.gender">
            <option value="">- Sexe -</option>
            <option value="1">Mâle</option>
            <option value="2">Femelle</option>
          </select>
        </div>
        <div class="myInput 6u 12u$(xsmall)">
          <input type="text" name="age" id="age" value="" [(ngModel)]="cat.age" placeholder="Age">
        </div>
        <div class="12u$ description">
          <textarea name="description" id="description" placeholder="Description" [(ngModel)]="cat.description" rows="6"></textarea>
        </div>
        <div class="myInput 6u 12u$(xsmall)">
          <input type="file" name="picture" id="picture" value="" placeholder="picture">
        </div>
        <div class="btnCenter 12u 12u$(xsmall)">
          <input class="button special" type="submit" value="Ajouter">
        </div>
      </div>
    </form>
  </div>
</section>
<!-- <div *ngIf="user">

   <h2>{{ user.firstName }} Details</h2>
   <div><span>id: </span>{{user.id}}</div>

       <div>
         <label>name:
           <input [(ngModel)]="user.firstName" placeholder="name"/>
         </label>
       </div>
 </div>
   -->
