<!-- Header -->
<header id="header">
  <a href="index.html" class="logo"><img src="../../assets/tindercat.png"/> </a>
  <nav class="right">
    <a [routerLink]="['/login']" href="" class="button alt">Connexion</a>
  </nav>
</header>

<section id="main" class="wrapper">
  <div class="inner wrap-login100">
    <header class="align-center">
      <h1>Connexion</h1>
    </header>
      <form  action="#" >
        <div class=" uniform">
          <div class="myInput">
            <input type="email" name="email" id="email" value="" placeholder="Email">
          </div>
          <div class="myInput">
            <input type="password" name="password" id="password" value="" placeholder="Mot de passe">
          </div>
          <div class="btnCenter">
              <input class="button special small" type="submit" value="Bienvenue">
          </div>
        </div>
      </form>
    </div>
</section>
<a [routerLink]="['/addCat']" href="" class="button alt">Connexion</a>
<!-- <div *ngIf="user">

   <h2>{{ user.firstName }} Details</h2>
   <div><span>id: </span>{{user.id}}</div>

       <div>
         <label>name:
           <input [(ngModel)]="user.firstName" placeholder="name"/>
         </label>
       </div>
 </div>
   -->
