<!-- Header -->
<header id="header">
  <img src="../../assets/tindercat.png"/>
  <nav class="right">
    <a (click)="logout()" href="" class="button alt">Déconnexion</a>
  </nav>
</header>

<section id="main" class="wrapper">
  <div class="inner wrap-all u12 row">
    <div class="4u 12u$(xsmall)">
      <ul class="">
        <li class="cats row uniform" *ngFor="let cat of cats">
          <div class="8u 12u$(xsmall)">
            <button class="button special  smallx" title="Selectionner le chat"
                    (click)="getCatsNoMeow(cat)"> {{cat.name}}, {{cat.race}}, {{cat.age}}</button>
          </div>
          <div class="4u 12u$(xsmall)">
            <button class="button smallxx" title="supprimer le chat"
                    (click)="delete(cat)">x</button>
          </div>
        </li>
      </ul>
      <div class="12u 12u$(xsmall)">
         <a [routerLink]="['/addCat']" href="" class="button small marginL">Ajouter</a>
      </div>
    </div>

    <div class="11u 12u$(xsmall)">
      <div class="wrap-2 u12" *ngIf="catMeow">
        <div class="row uniform">
          <div class="12u 12u$(xsmall) pp">
            <p>
              <b>Nom:</b> {{catMeow.name}}<br/><b>Race:</b> {{catMeow.race}}<br/><b>Age:</b> {{catMeow.age}}
            </p>
          </div>
          <div class="6u 12u$(xsmall)">
            <button class="button smallxx" title="Oui"
                    (click)="yes(catMeow)">Oui</button>
          </div>
          <div class="6u 12u$(xsmall)">
            <button class="button smallxx" title="Non"
                    (click)="no(catMeow)">Non</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

