<!-- Header -->
<header id="header">
  <img src="../../assets/tindercat.png"/>
  <nav class="right">
    <a (click)="logout()" href="" class="button alt">Déconnexion</a>
  </nav>
</header>

<div class="row uniform">
  <div class="4u 12u$(xsmall)">
    <ul class="cats">
      <li *ngFor="let cat of cats">
        <a ng-click="$getCatsNoMeow">
          {{cat.name}} {{cat.idUser}}
        </a>
        <button class="delete" title="delete cat"
                (click)="delete(cat)">x</button>
      </li>
      <li>
        <a [routerLink]="['/addCat']" href="" class="button alt">Ajouter</a>
      </li>
    </ul>
  </div>
  <div class="8u 12u$(xsmall)">


  </div>
</div>
